<h1 class="my-3">Results for query <%= params[:query] %></h1>
<h3><%= link_to "Search again", spotify_search_path, class: "underline hover:text-teal-700 transition-color duration-150" %></h3>

<div class="xl:flex gap-2 mt-5">
    <% @results.each do |_, data| %>
        <div class="flex-grow basis-0 p-2 mb-5 border border-teal-700 rounded">
            <h3><%= data[:name] %></h3>
            <% data[:items].each do |item| %>
                <%= link_to spotify_play_path(item[:uri].sub("spotify:", "")) do %>
                    <div class="flex items-center gap-2 p-2 h-[65px] hover:bg-teal-700 text-gray-500 hover:text-white transition-color duration-150 rounded">
                        <img src=<%= item[:image] %> class="rounded" alt="Track icon" width=50 height=50>
                        <div>
                            <div class="text-white line-clamp-1"><%= item[:name] %></div>
                            <div class="line-clamp-1">By <%= item[:owner] %></div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>

<div class="mb-5 flex justify-center gap-5">
    <% if @offset > 1 %>
        <h3><%= link_to "Previous page", spotify_results_path(query: params[:query], page: @offset - 1), class: "underline hover:text-teal-700 transition-color duration-150" %></h3>
    <% end %>
    <h3><%= link_to "Next page", spotify_results_path(query: params[:query], page: @offset + 1), class: "underline hover:text-teal-700 transition-color duration-150" %></h3>
</div>
